<html>
	<head>
		<title>Medium Bookmarks</title>
		<style>
			body {
				margin: 0 auto;
				padding: 4rem;
				color: #222;
			}
			a {
				color: inherit;
				text-decoration: none;
			}
			.bm {
				border: 1px solid #bbb;
				border-radius: 0.25rem;
				margin: 1rem 0;
				background: #eee;
				padding: 0.7rem;
			}
		</style>
	</head>
	<body>
		<%for (let i=0; i<list.length; i++) { %>
			<div class="bm">
				<a href="<%=list[i].link%>">
					<h2><%=list[i].title%></h2>
					<p><%=list[i].desc%></p>
					<span><%=list[i].time_mins%> Mins</span>
				</a>
			</div>
		<% } %>
	</body>
</html>
